imbalanced-learn
ipykernel
ipython
jupyter
jupyter-client
jupyter-core
matplotlib
nbconvert
nbdime
nbformat
nbstripout
numpy
pandas
Pillow
pre-commit
protobuf
pyaml
PyYAML
ray
scikit-learn
scikit-optimize
scipy
seaborn
shap
simplejson
tune-sklearn
xgboost